/*backend product data panel css*/
nav.wooextb-nav.navbar.navbar-default {
    padding: 9px 10px;
    margin-bottom: 0px !important;
    background: none;
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    box-shadow: none !important;
}
label.search-wooextb-label {
	margin: 0px !important;
    padding: 9px 0px !important;
}
.search-product-col {
	margin-left: 18px;
    margin-bottom: 14px;
}
#wooextb_settings .wooext_loading {
    position: absolute;
    right: 18px;
    top: 26px;
}
.wooext_results {
    position: relative;
    left: 0px;
    border-radius: 2px;
    top: 0px;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid #dddddd;
    width: 100%;
    height: 100%;
    min-height: 196px;
    z-index: 9999999;
    overflow-y: auto
}
.wooext_selected ul,
.wooext_results ul {
    margin: 0;
    padding: 0;
}
.wooext_selected ul > span, .wooext_results ul > span {
    display: block;
    padding: 5px 10px;
}
.wooext_selected li,
.wooext_results li {
    padding: 7px 13px;
    margin: 0;
    border-bottom: 1px dotted #eeeeee;
    height: 40px;
    line-height: 28px;
    position: relative;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.wooext_selected li span.remove,
.wooext_results li span.remove {
    right: 10px;
}
.wooext_selected li span.remove,
.wooext_results li span.remove {
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    position: absolute;
    top: 5px;
    background-color: #eeeeee;
    cursor: pointer;
}
.wooext_selected li span.remove:hover, .wooext_results li span.remove:hover {
    background: #200b71;
    color: white;
}
.wooext_selectd_bundle h3 {
    border: 0;
}
.wooext_selectd_bundle h3 {
    margin: 0!important;
    padding: .75em .75em .75em 1em!important;
    font-size: 1em!important;
    overflow: hidden;
    zoom: 1;
    cursor: move;
}
#wooext_selectd_bundle .ui-accordion-header {
    background: none;
    margin-top: 0px !important;
    padding: 12px 30px !important;
    border-left: 0px;
    border-color: #ccc;
    zoom: 1;
    overflow: hidden;
    border-top: 0px;
    border-right: 0px;
    border-radius: 0px !important;
}
#wooext_selectd_bundle .ui-accordion-header:focus {
    outline: none;
}
#wooext_selectd_bundle .ui-accordion-content {
   border-right: 0px;
   border-left: 0px;
   border-color: #ccc;
   padding: 10px;
   border-radius: 0px;
} 
#wooext_selectd_bundle .ui-accordion-content p {
    font-size: 13px;
}
button.save-product-bundles.button {
    float: right;
    font-weight: bold;
}
#wooext_selectd_bundle .ui-accordion-header strong {
    line-height: 26px;
}
#wooext_selectd_bundle .ui-accordion-header a {
    color: #265a88;
}
#wooext_selectd_bundle .ui-accordion-header strong a:focus::before {
    outline: none !important;
}
button#wooext_add_product_to_bundles {
    margin-top: 37px;
}
.woo-extloading{
    bottom: 0;
    height: 130px;
    left: 50%;
    margin: -25px 0 0 -25px;
    position: absolute;
    top: 50%;
    width: 130px;
    z-index: 1000;
    background:  url('../images/load-spingif.gif') 50% 50% no-repeat;
}
label.search-wooextb-labelfld {
    font-weight: 500;
    font-size: 13px;
    margin: 0px !important;
    padding: 9px 0px !important;
}
.bundles-form .form-group {
    margin-top: 10px;
}
.wooextb_options a::before {
    font-family: Dashicons !important;
    content: '\f489' !important;
}