div#notpurchaseable {
    color: white;
    background: red;
    padding: 8px 8px;
}
tr.woocommerce-product-bundle-item.extendons-bundle-item td {
    padding: 8px 8px;
}
tr.woocommerce-product-bundle-item.extendons-bundle-item {
    border: 1px solid #ccc;
    min-height: 190px
}
.product-bundle-name a span {
    font-weight: bold;
    font-size: 18px;
}
.extendons-pro-bundle-child .product-name a, .extendons-pro-bundle-child .product-quantity {
    color: #47719c;
    font-size: 15px;
    font-weight: bold;
}
.extendons-pro-bundle-child td{
    background-color: #e3efdf !important;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    margin-bottom: 20px;
}
.btn:focus {
	outline: 0px;
}

.btn:hover {
    background-color: #ddd;
}

.btn.active {
    background-color: #666;
    color: white;
}
.column td#bundles_td {
    background: none;
}
tr.listborder {
    border-bottom: 0px !important;
}
tr.item {
    margin-top: 18px;
}
tr.item:nth-child(odd){
    background-color: rgb(249, 249, 249);
    -moz-box-shadow: 0px 2px 2px black;
    -webkit-box-shadow: 0px 2px 2px #afafaf;
}
tr.item:nth-child(even) {
    background-color: rgb(255, 255, 255);
    -moz-box-shadow: 0px 2px 2px black;
    -webkit-box-shadow: 0px 2px 2px #dad9d9;
}
.product-bundle-price {
    font-size: 14px;
}
td#bundles_td .product-bundle-name a span, td#bundles_td .product-description {
    font-size: 15px;
    padding-top: 10px;
}
td#bundles_td .product-bundle-name a span {
    font-weight: 500;
}
.hide_thumbnail img {
    display: none;
}
.product-stock-bundles {
    text-align: right;
}
.product-stock-bundles p {
    color: black;
    font-size: 12px;
}
.product-bundles-optional {
    margin-top: 18px;
}
input.input-text.qty-probundle {
    width: 50%;
    display: block;
    margin-top: 15px;
}